
#murdochLogo2,
#murdochLogo{
    width: 25%;
    height: 100%;
}

.nav-item{
    font-size: 21px;
}

#section-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../ArtAssets/msg-869313016-226563.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
  
}

#section-hero-aboutUs{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../ArtAssets/Title_Background.png');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    min-height: 40vh;
  
}


#navBarOption{
    background-color: rgb(198, 198, 198);
}

#titleBackground{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#titleBackgroundParagraph{
    font-family:sans-serif;
    font-size: 22px;
    width: 50%;
    font-weight: bolder;
}

#colorBackground{
    background-color: #AA2920;
}

#filterByText{
    font-size: 25px;
}

#greenBox{
    width: 30px;
    height: 30px;
    background-color:  #4DA93C;
}

#yellowBox{
    width: 30px;
    height: 30px;
    background-color: #F0D06A;
}

#navyBox{
    width: 30px;
    height: 30px;
    background-color:  #317179;
}

#gridView,
#listView{
    width: 100px;
    height: 100px;

}





/* Search Button */

.button {
	display: inline-block;
	margin: 4px 2px;
    border-radius: 20px;
	background-color: #000000;
	font-size: 32px;
    font-weight: bolder;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
    font-size: 32px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 20px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 29px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

#buttonSearchHolder{
    margin-right: 10px;
  top: 110%;
}


.card-title{
    font-family: sans-serif;
}



#timePosting{
    width: 20%;
}

#saveIcon{
    width: 20%;
    height: 20%;
}


#companyPhoto{
    border-radius: 32px;
}

#pageNumber{
    font-size: 24px;
   
}

#showResult{
    font-family: sans-serif;
    font-weight: 525;
    font-size: 18px;    
}

#saveIconList{
    width: 10%;
    height:10%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(198, 198, 198);
  } 



/* About Us WIL Page  */

#aboutUsWIL{
	font-family: 'Times New Roman', Times, serif;
	font-size: 64px;
}

#underlineNav{
	font-size: 24px;
	
}

#navAboutUsContent{
 	background-color: rgb(198, 198, 198);
	left: 5%;
	top: 30%;
	width: 25%;
	height: 56%;
}

#aboutUsWILContent{
	width: 42%;
	
}

@media (max-width: 576px) { 
	#navAboutUsContent{
		width: 70%;
		
	}

	#navAboutUsContentContact{
		width: 50%;
	}
 }

 @media (max-width: 992px) and (min-width: 577px) { 
	#navAboutUsContent{
		width: 65%;
		
	}

	
	

	#navAboutUsContentContact{
		width: 50%;
	}
 }



#navAboutUsContentContact{
	background: rgba(207, 60, 73, 1);
	top: 30%;
	right: 5%;
	width: 23%;
	height: 37%;
}
#navAboutUsContentContact div p,
#navAboutUsContentContact div h5{
	font-size: 22px;
}


#textNavAboutUs{
	font-size: 22px;
}

#iconNavAboutUs{
	width: 18%;
}

#benefitContent,
#partnerWithUsContent{
	font-family: 'Times New Roman', Times, serif;
}
#benefitContent nav ul li,
#benefitContent p,
#partnerWithUsContent p{
	font-family: sans-serif;
}

#workSimulationsContent,
#industryProjectContent,
#pdfContent,
#workPlacementContent{
	font-family: sans-serif;
}

#pdfContent figure div #title{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
	font-size: 15px;
	color: rgba(0, 115, 122, 1);
	;
}



/* WIL Opportunities Job */

#companyJobTitle{
	font-family: sans-serif;
}

#companyLocationJob{
	width: 40%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
}

#timePostingJob{
	width: 14%;
}

#saveIconListJob{
	width: 10%;
	height: 10%;
}

#reportButton{
	font-size: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#applyButton{
	font-size: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: rgba(64, 109, 159, 1);
}


#cardContainer:hover{
	transform: scale(1.075);
	transition: all 0.5s;
}

#cardContainer{
    border-radius: 25px;
    background-color: rgb(204, 204, 204);
   transform: scale(1);
	transition: all 0.5s;
   text-decoration: none;
}


/* Student Profile Page  */

#studentProfile{
	font-family: 'Times New Roman', Times, serif;
	font-size: 64px;
}

#section-hero-studentProfile{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../ArtAssets/Title_Background.png');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    min-height: 40vh;
}

.about-myself-label,
.student-label{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.student-details{
	background: rgba(211, 211, 211, 1);

}

.company-edit-button,
.student-edit-button{
	background: rgba(211, 211, 211, 1);
}

.company-name,
.student-name{
	font-size: 50px;
	font-family: 'Times New Roman', Times, serif;
}

.button-saved-jobs{
	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Company Profile Page  */

.company-details{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: rgba(211, 211, 211, 1);
}

.job-title{
	font-size: 19px;
}

.job-description{
	font-size: 15px;
}

.divider{
	height: 130px;
}

.job-apply-section{
	font-family: sans-serif;
	font-size: 19px;
}


/* Student Login */

.login-background{
	filter: brightness(50%);
}

.white-bg{
	background-color: rgb(255, 255, 255);
	filter: brightness(100%);
}

.width-40{
	width: 26%;
}


