.content {
    position: relative;
    color: white;
}

.text-center {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 48px;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
}

.menu {
    width: auto;
    font-size: 19px;
    position: absolute;
}

.ppl {
    position: relative;
    left: 30%;
    width: 60%;
    height: auto;
    border: 10px solid black;
    padding: 60px;
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlename {
    font-size: 48px;
    border-bottom: 3px solid #2F6EA3;
    font-family: 'Times New Roman', Times, serif;
}

.secondtitle {
    font-family: 'Times New Roman', Times, serif;
}

.images {
    /*flex-basis: 150%;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
    display: block;
}

.mainnum {
    font-size: 20px;
}

.secnum {
    vertical-align: bottom;
    font-size: 10px;
}








