@font-face{
    font-family: omegel;
    src: url("font/OmegleRegular-gxDaq.otf");
}


body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
}


*,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }



img {
        width: 100%;
        display: block;
        border-radius: inherit;
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}














.productMain{
    margin: 2% 0% 2% 0%;
    background-color: white;
    
}

.desc1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(234,185,71);
    color: rgb(0, 0, 0);
}

.descriptionContent4,
.descriptionContent3,
.descriptionContent2,
.descriptionContent1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    padding: 1%;
}

.descriptionContent1{
    border: 5px solid rgb(0, 0, 0);
    padding: 2%;

}

.descriptionContent3{
    border: 5px solid rgb(0, 0, 0);
    margin: 0% 1% 0% 5%;
    padding: 2%;
}


.desc1 h1{
    color: white;
    text-shadow: 3px 3px black;
    font-family: omegel;
    font-weight: 800;
    letter-spacing: 1px;
}

.desc2{
    padding: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.desc2 h1{
    font-family: omegel;
    font-weight: 800;
    letter-spacing: 1px;
}


.instruction{
    background-color: rgb(34,42,91);
    padding: 10px;
    margin: 10px 0px 10px 0px;

}

.instructionContainer{
    background-color: rgb(234,185,71);
    margin: 0.05%;
    padding: 0.05%;
    box-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;

}

.instruction h1{
    color: white;
    text-shadow: 3px 3px black;
    font-family: omegel;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
}

.instruction span{
    display: block;
    text-align: center;
    text-decoration: underline;
    margin: auto;
}



.Number3,
.Number2,
.Number1{
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoNumber3,
.logoNumber2,
.logoNumber1{
    margin: 30px;
    max-width: 70px;
    
}

.logoNumber3 img,
.logoNumber2 img,
.logoNumber1 img{
    margin-left: 70%;    
}





.descriptionNumber3 p,
.descriptionNumber2 p,
.descriptionNumber1 p {
    text-align: left;
    margin: 2% 2% 2% 6% ;
    padding: 2% 4% 2% 4%;
}

.iconsMade{
    display: none;
}

@media only screen and (max-width: 1200px){
    .desc1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 10px;
        background-color: rgb(234,185,71);
        color: rgb(0, 0, 0);
    }

    .descriptionContent2{
        text-align: center;
    }

    .descriptionContent2 iframe{
        margin: 1%;
    }

    .desc2{
        padding: 2%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
    }
    
    .descriptionContent3{
        border: 5px solid rgb(0, 0, 0);
        margin: 3% 1% 0% 5%;
        padding: 2%;
    }

    .descriptionContent4{
        text-align: center;
    }
    
}



@media only screen and (max-width: 690px){


    .descriptionContent2{
        text-align: center;
        
    }

    .descriptionContent2 iframe{
        width: 100%;
    }

    .descriptionContent4{
        text-align: center;
    }

    .descriptionContent4 iframe{
        width: 100%;
    }
    
}











