@font-face{
    font-family: omegel;
    src: url("font/OmegleRegular-gxDaq.otf");
}

body{
    margin: 0%;
    padding: 0%;
    overflow: auto;
}


*,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }



img {
        width: 100%;
        display: block;
        border-radius: inherit;
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


header{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center top;
    background-image: linear-gradient( 
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url("images/menu.jpg");
}

.headerContent{
    align-content: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: omegel;
    letter-spacing: 2px;
    font-weight: 800;


}

.headerLogo img{
    filter: brightness(100%);
    width: 240px;
    height: 140px;
}


.navlinks {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px ;
    position: relative;
}

.navlinks:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:  rgb(255, 255, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

.navlinks:hover:after { 
    width: 100%; 
    left: 0; 
}

.headerMenu nav{
    margin: 2%;

}


.headerMenu ul{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerMenu a{
    white-space: nowrap;
 font-size: 18px;
}

.headerMenu li{
    padding: 1%;
    margin: 2% ;
}


.search-box{
    margin: 15px;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: rgb(246,224,79);;
    padding-right: 40px;
    color:#fff;
}

.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
 }

.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:rgb(49, 49, 49);
    background-color:transparent;
    pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
  div.page-active {
	display: block;
}

div.page-inactive {
	display: none;
}

div.menu {
	position: absolute;
	padding: 0em;
	top: 0em;
	left: -8em;
	width: 8em;
	height: 2.5em;
}
div.menu-active {
	cursor: pointer;
	background-color: #ffffff;
}

.headerLogo .search-box{
    display: none;
}

.headerMenu #menu0{
display:none;
}

.logout{
    display: none;
}


.headerLogo .search{
 display: none;
}

.search{
 margin: 1.2%;
}

.formSearch{
	display: flex;
	flex-direction: row;

}

.formSearch .searchText{
	height: 10px;
}

.formSearch .searchSubmit{
	margin-top: 4%;
	width: 15%;
	   height: 35px	;
}

.search1{
	display: none;
}
@media only screen and (max-width: 1051px){
    .headerMenu nav ul {
        display: flex;
        flex-direction: column;
    }

    .headerMenu {
        text-align: center;
        margin: 1% auto;
    }

    .headerContent{
        display: flex;
        flex-direction: column;
    }

    .headerMenu .search-box{
        display: none;
    }

    header{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-position: center top;
        background-image: linear-gradient( 
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("images/menu.jpg");
    }

    .headerLogo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1% auto;
    }

    .headerLogo .search-box{
        display: block;
        margin: auto;
    }

    .headerLogo img{
        display: block;
        text-align: center;
    }




    .btn-search:focus ~ .input-search{
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

.search{
display: none;
}

.headerLogo .search{
display: block;
 margin: 1.2%;
}

.formSearch{
	display: flex;
	flex-direction: row;

}

.formSearch .searchText{
	height: 15px;
}

.formSearch .searchSubmit{
	margin-top: 0%;
	width: 10%;
	   height: 20px	;
}


}

@media only screen and (max-width: 767px){
    .headerMenu nav ul {
        display: flex;
        flex-direction: column;
    }

    .headerMenu {
        text-align: center;
        margin: 1% auto;
    }

    .headerContent{
        display: flex;
        flex-direction: column;
    }

    .headerMenu .search-box{
        display: none;
    }

    header{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-position: center top;
        background-image: linear-gradient( 
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("images/menu.jpg");
    }

    .headerLogo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1% auto;
    }

    .headerLogo .search-box{
        display: block;
        margin: auto;
    }

    .headerLogo img{
        display: block;
        text-align: center;
    }




    .btn-search:focus ~ .input-search{
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

.search{
 display: none;
}

.headerLogo .search{
display: block;
 margin: 1.2%;
}

.formSearch{
	display: flex;
	flex-direction: row;

}

.formSearch .searchText{
	height: 10px;
	
}

.formSearch .searchSubmit{
	margin-top: 0%;
	width: 15%;
	   height: 10%;
}


}




@media only screen and (max-width: 1250px){
    header{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-position: center top;
        background-image: linear-gradient( 
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("images/menu.jpg");
    }


    .ContainerAll{
        font-family: Arial, Helvetica, sans-serif;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content:space-around;
      }


.search{
 margin: 0.6%;
}

.formSearch{
	display: flex;
	flex-direction: row;

}

.formSearch .searchText{
	height: 10px;
	
}

.formSearch .searchSubmit{
	margin-top: 4%;
	width: 15%;
	   height: 42px	;
}



}

@media only screen and (max-width: 360px){
    .headerLogo{
        display: flex;
        flex-direction: column;
    }


    .headerMenu{
        display: flex;
        flex-direction: column;

        
    }

    .headerMenu ul {

      margin-right: 10%;
    }

    .card__container {
        width: 240px;
        background-color: rgb(248, 248, 248);
        margin: 0 auto;
        border-radius: 8px;
        position: relative;
        top: 30px;
        margin-bottom: 60px;
      }
    
      .card__top__section {
       
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        height: 300px;
        width: 100%;
        padding: 10px 0px 0px 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
      }
    
      .card__top__section__icons > div {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 100;
      position: relative;
      left: -75px;
      margin-bottom: 10px;
      display: table;
      }
      .card__top__section__icons > div   :hover{
          cursor: pointer;
        color: blue;
        transition: all ease 0.3s;
    }


.search1{
 margin: 1.2%;
display: block;
}
.search2{
display: none;
}

.formSearch{
	display: flex;
	flex-direction: row;

}

.formSearch .searchText{
	height: 10px;
}

.formSearch .searchSubmit{
	margin-top: 3.8%;
	width: 15%;
	   height: 30px	;
}

    
}


@media only screen and (max-width: 480px){
    .headerLogo{
        display: flex;
        flex-direction: column;
    }


    .headerMenu{
        display: flex;
        flex-direction: column;

        
    }

    .headerMenu ul {

      margin-right: 10%;
    }

    .card__container {
        width: 240px;
        background-color: rgb(248, 248, 248);
        margin: 0 auto;
        border-radius: 8px;
        position: relative;
        top: 30px;
        margin-bottom: 60px;
      }
    
      .card__top__section {
       
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        height: 300px;
        width: 100%;
        padding: 10px 0px 0px 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
      }
    
      .card__top__section__icons > div {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 100;
      position: relative;
      left: -75px;
      margin-bottom: 10px;
      display: table;
      }
      .card__top__section__icons > div   :hover{
          cursor: pointer;
        color: blue;
        transition: all ease 0.3s;
    }


.search1{
 margin: 1.2%;
display: block;
}
.search2{
display: none;
}

.formSearch{
	display: flex;
	flex-direction: row;

}

.formSearch .searchText{
	height: 10px;
}

.formSearch .searchSubmit{
	margin-top: 3.8%;
	width: 15%;
	   height: 30px	;
}

    
}












.homeMain{
    background-color: white;
}

.mainUnderlineUnderline{
    text-decoration: underline;
}


.title2{
   font-weight: 700;
    margin: 5% auto 0% auto;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(22, 22, 22);
    padding: 10px;
    font-size: 24px;
}

.ContainerAll{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content:space-around;
  }

  .card__container {
    width: 420px;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    top: 30px;
    margin-bottom: 60px;
  }

  .card__top__section {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 410px;
    width: 100%;
    padding: 10px 0px 0px 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
  }

  .card__top__section__icons > div {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  position: relative;
  left: -48px;
  margin-bottom: 10px;
  display: table;
  }

  .card__top__section__icons > div > input {
  vertical-align: middle;
  padding: 15px	;
  border-radius: 100px	;
  text-align: center;
  display: table-cell;
  color: #454545;
  font-size: 16px;
  }

  .card__body__section {
    text-align: center;
    padding: 8px 5px;
  }

  .card__body__section > p {
    font-weight: 700;
 
  }


  

  .rating-section {
  border-top: 1px solid #eee;
  padding: 8px 12px;
  margin-top: 5px;
  display: table;
  content: "";
  clear: both;
  width: 100%;
  }

  .rating-with-color {
  color: #ffa500;
  }

  .stars-rating{
  float: left;
  }

  .stars-rating > span {
    font-size: small;
  }

  .c-price{
  float: right;
  }

.iconsMade{
    display: none;
}








footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: white;
}

.footerContent{
    background-color: #303036;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerDescription{
    margin: 1.5%;
    max-width:500px;

}
.footerDescription span,
.footerDescription p{
    padding: 2%;
    margin: 5%;
}

.footerDescription img{
    
    width: 240px;
    height: 140px;
}

.footerMap{
    margin: 40px;
}

.footerMap h1{
    font-family: omegel;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.footerBottom{
    background-color: #343a40;
    padding: 0.5%;
    text-align: center;
    color: black;
}

@media only screen and (max-width: 480px){

    .footerContent{
        display: flex;
        flex-direction: column;
    }

    footer iframe{
        width: 100%;
    }
}


