@font-face{
    font-family: omegel;
    src: url("font/OmegleRegular-gxDaq.otf");
}

body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
}


*,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }




*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}











.loginMain{
    background-color: rgb(34,42,91);
    padding: 1%;
}


.formContent{
    background-color: white;
    align-items: center;
    display: flex;
    margin: 7% auto  15% auto;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    max-width: 100vh;
    width: 80%;
    
}

.formContent h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1%;
    font-weight: 700;
    text-align: center;
}

form{
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form input{
    width: 50vh;
    padding: 4%;
    margin: 4%;
}


.submitbtn{
    padding: 15px;
    font-size: 20px;
    margin: 15px auto ;
    white-space: nowrap;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
}


.backHome{
    margin: auto 50% auto 40%;
    border: 2px solid black;


}

.backHome nav ul li a{
    text-decoration: underline;
    color: white;
}

.backHome nav ul li a:hover{
    cursor: pointer;
    color: rgb(252, 218, 109);;
    transition: all ease 0.3s;
}












