#map {
    height: 1000px;
    width: 1000px;
}

.headerLogo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 85%;
    margin-bottom: 10px;
}



.container-fluid {
    display: flex;
    flex-direction: row;
}

.form-control {
    display: flex;
    border: none;
    flex-direction: column;
}

.add-button {
    width: 15%;
    display: flex;
    justify-content: center;
}
