body{
    background-color: rgb(234, 234, 234);
    overflow: auto;
}

#ViewStudent a,
#AddStudent a,
#HomePage a{
    letter-spacing: 4px;
    font-weight: bolder;
}

.hiddenValue{
  display:none;
}

#AddStudentContent,
#ViewStudentContent{
    display: none;
}


.nav-pills .nav-link.active{
    background-color: rgb(57, 57, 57);
}

h1{
    letter-spacing: 4px;
}

#errorSearch,
#errorDegree,
#errorGender,
#errorAge,
#errorLastName,
#errorFirstName,
#errorStudentID{
    display: none;
}

table {
  margin: 2.5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.outputSearch{
	
	font-family: arial, sans-serif;
	font-weight:normal;
}
.outputHeader{
	margin: 4% 3% 3% 3%;
	font-family: arial, sans-serif;
}

