header{
    
    padding: 2px;
    text-align: center;
    background-color: white;
    
}


body{
    margin: 0%;
    padding: 0%;
    overflow: scroll;
    background-image: url("Images/background.jpg");
}


  

  
ul{
    list-style-type: none;
    overflow: hidden;
}

@font-face{
    font-family: rookie;
    src: url ("font/assignment.ttf");
}
  
.logo{
     font-family: rookie     ;
 }
  
li a{
    
    padding: 10px;
    padding-top: 0.5px;
    float: right;
    margin: 0% 1%;
    text-decoration: none;

}

