body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: rgb(246,224,79);
    /*background-color: rgb(253,221,0);*/
}

*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;    
}

@font-face{
    font-family: Montserrat;
    src: url("Font/Montserrat-Regular.ttf");
}

@font-face{
    font-family:major;
    src: url("Font/MajorMonoDisplay-Regular.ttf");

}

@font-face {
    font-family: cookie;
    src: url("Font/Cookie-Regular.ttf");
}

.menubar{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    margin: 0px;
    align-items: center;
 
}

.menubar .logo{
    display: flex;
    margin: 50px 0px 50px 0px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    justify-content: flex-start;
    font-family: major;
    font-size: 40px;
    font-weight: bold;
}



.menu ul{
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;

}

.menu li{
    margin: 10px;
    padding: 10px;

}

.menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration-line: none;
    color: rgb(35, 38, 51);
    font-weight: bold;
}

.menu li :hover,
.menu a :hover{
    color: rgb(255, 255, 255);
    transition: all 0s;
}











.aboutheader{
    background-color: rgb(235, 235, 235);
    padding: 20px 0px 20px 0px;
}



.aboutdesc1{

    background-color: rgb(255,255,255);
    padding: 10px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.aboutdesc2{
    background-color: rgb(38, 38, 38);
    color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.aboutdesc3{
    background-color: rgb(246,224,79);
    padding: 10px;
    border: 2px solid rgb(235,235,235);
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.aboutdesc3 .aboutphot3 img,
.aboutdesc2.aboutphoto2 img,
.aboutdesc1.aboutphoto1 img{
    margin: 10px auto 10px auto;

}

.aboutdesc1 .desc1{

    border: 5px solid black;
    margin: 90px 50px 30px 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.aboutdesc2 .desc2{
    border: 5px solid rgb(235,235,235);
    margin: 120px 50px 20px 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutdesc3 .desc3{
    border: 5px solid black;
    margin: 90px 50px 30px 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutdesc1 .desc1 h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    width: 250px;
    margin: 50px 20px 50px 5px;
    padding: 10px;

}

.aboutdesc2 .desc2 h1{
    font-family: Montserrat;
    color: rgb(235,235,235);
    font-weight: bold;
    font-size: 40px;
    width: 250px;
    margin: 50px 20px 50px 5px;
    padding: 10px;

    
}

.aboutdesc3 .desc3 h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    width: 250px;
    margin: 30px 20px 50px 5px;
    padding: 10px;

}

.aboutdesc1 .desc1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 50px 100px 5px;
    padding: 10px;

}

.aboutdesc2 .desc2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 5px 50px 5px;
    padding: 10px;
    color: rgb(235,235,235);


}

.aboutdesc3 .desc3 p{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 10px 10px 5px;
    padding: 20px;
}


.aboutdesc3 span{
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    margin: 5px 20px 10px 20px;
    padding: 15px;
    text-align: center;
    width: 180px;

}

.aboutdesc3 a{
    font-family: Montserrat;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.aboutdesc3 span :hover,
.aboutdesc3 a :hover{
    color: darkgray;
    transition: all 0s;
}
















.foot{
    background-color: rgb(245,245,245);
    

}

.footercontent{
    display: flex;
    justify-content: space-around;
}

.link{
    text-align: left;
    padding: 20px;

}

.details{
    padding: 20px;
    text-align: left;
}

.goIndex{
    padding: 20px;
    text-align: center;
}

.details h1{
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 5px;
    margin: 3px;
    text-align: left;
}

.goIndex h1,
.link h1{
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 5px;
    margin: 3px;
}

.details nav,
.goIndex nav{

    padding: 5px;
    margin: 25px 3px;
}


.link nav{
    padding: 5px;
    margin: 3px;
    
}

.details li,
.goIndex li,
.link li{
    padding: 3px;
    margin: 3px;
}

.goIndex a,
.link a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration-line: none ;
    font-family: Montserrat;
    font-weight: bold;
}

.link ul{
    list-style: inside;
}

.goIndex ul{
    text-decoration-line: underline;
}

.details ul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style: inside;
}

.goIndex ul :hover,
.goIndex a :hover,
.link ul :hover,
.link a :hover{

    color: darkgray;
    transition: all 0s;
}

.footerEnd{
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: Montserrat;
    color: rgb(180, 180, 180);
}