body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: rgb(246,224,79);
    /*background-color: rgb(253,221,0);*/
}

*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;    
}

@font-face{
    font-family: Montserrat;
    src: url("Font/Montserrat-Regular.ttf");
}

@font-face{
    font-family:major;
    src: url("Font/MajorMonoDisplay-Regular.ttf");

}

@font-face {
    font-family: cookie;
    src: url("Font/Cookie-Regular.ttf");
}

.menubar{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    margin: 0px;
    align-items: center;
 
}

.menubar .logo{
    display: flex;
    margin: 50px 0px 50px 0px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    justify-content: flex-start;
    font-family: major;
    font-size: 40px;
    font-weight: bold;
}



.menu ul{
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;

}

.menu li{
    margin: 10px;
    padding: 10px;

}

.menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration-line: none;
    color: rgb(35, 38, 51);
    font-weight: bold;
}

.menu li :hover,
.menu a :hover{
    color: rgb(255, 255, 255);
    transition: all 0s;
}






.contact{
    background-color: rgb(235,235,235) ;
    margin: 0px;
    padding: 20px;
}

.contactcontent{
    background-color: rgb(35, 38, 51);
    color: white;
    margin: 20px;
    padding: 10px;
}

.contactcontent h1{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 20px;
    text-align: left;
    text-align: center;
}


.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}

.form input{
    font-family: Montserrat;
    padding: 10px;
    margin: 10px;
}

.form label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}

.form #email,
.form #fname{
    width: 25%;
}

.form #msg{
    height: 100px;
    padding: 5px;
    margin: 5px;

}

.form #submitbtn{
    text-align: center;
    font-weight: bold;
    margin: 10px auto 0px auto;
    padding: 20px 40px 20px 40px;
    background-color: rgb(246,224,79);
}

.form #submitbtn :hover{
    
    color: rgb(0, 0, 0);
    transition: all 0s;
}

.contactinfo{
    padding: 20px   ;
}

.contactinfo ul{
    display: flex;
    justify-content: space-around;
}

.contactinfo li{
    font-family:Montserrat;
    font-weight: bold;
}

.q4,
.q3{
    background-color: rgb(35, 38, 51);
    margin: 20px;
    padding: 10px;
    color: white;
    font-family: Montserrat;
}

.q4 h1,
.q3 h1{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px ;
    margin: 10px;
    font-weight: bolder;

}

.q3 span{
    text-align: center;
    padding: 10px ;
    margin: 5px;
}

.q3 aside {
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.q4 label{
    margin: 5px ;
    padding: 10px;
    text-align: left;
}

.q4 textarea,
.q4 input{

    margin: 5px 5px 5px 15px;
    padding: 5px;
    text-align: left;
}   







.foot{
    background-color: rgb(245,245,245);
    

}

.footercontent{
    display: flex;
    justify-content: space-around;
}

.link{
    text-align: left;
    padding: 20px;

}

.details{
    padding: 20px;
    text-align: left;
}

.goIndex{
    padding: 20px;
    text-align: center;
}

.details h1{
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 5px;
    margin: 3px;
    text-align: left;
}

.goIndex h1,
.link h1{
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 5px;
    margin: 3px;
}

.details nav,
.goIndex nav{

    padding: 5px;
    margin: 25px 3px;
}


.link nav{
    padding: 5px;
    margin: 3px;
    
}

.details li,
.goIndex li,
.link li{
    padding: 3px;
    margin: 3px;
}

.goIndex a,
.link a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration-line: none ;
    font-family: Montserrat;
    font-weight: bold;
}

.link ul{
    list-style: inside;
}

.goIndex ul{
    text-decoration-line: underline;
}

.details ul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style: inside;
}

.goIndex ul :hover,
.goIndex a :hover,
.link ul :hover,
.link a :hover{

    color: darkgray;
    transition: all 0s;
}

.footerEnd{
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: Montserrat;
    color: rgb(180, 180, 180);
}