.w-25_25{
    width: 24.85%;
}

.w-30{
    width: 30%;
}

.w-45{
    width: 45%;
}

.z-index-minus{
    z-index: -1;
}

.z-index-1{
    z-index: 1;
}

#UI_login_1,
#UI_login_2{
    box-shadow: 1px 1.5px 4px #323232;
}

.bg-light-black{
    background-color: rgb(42, 42, 42);
}

#submitBtnLogin{
    height: 50%;
}
